body {
  min-height: 2000px;
}
.jumbotron {
  padding-top: 5rem;
}

.slide {
  max-width: auto;
  height: 630px;
  position: relative;
}

.slide1,
.slide2,
.slide3 {
  position: absolute;
  width: 100%;
  height: 100%;
}

.section {
  padding-top: 5rem;
}
